/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/zoom/Hero/Hero.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Hero_hero__xqnA2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.Hero_hero__xqnA2 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Hero_hero__overlay__1pSfW {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}
.Hero_hero__content__ZQzrA {
  display: flex;
  gap: 16rem;
  align-items: center;
  position: absolute;
  bottom: 9.6rem;
  left: 6.4rem;
  z-index: 2;
  color: white;
}
.Hero_hero__titleWrapper__wYESK {
  display: block;
  overflow: hidden;
}
.Hero_hero__title__mHHMu {
  transform: translateY(100%);
}
.Hero_hero__text__Cqb5Q {
  font-size: 2rem;
}
.Hero_hero__text__Cqb5Q span {
  display: block;
  overflow: hidden;
}
.Hero_hero__text__Cqb5Q span span {
  transform: translateY(100%);
}
