/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/zoom/ImageGrid/ImageGrid.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ImageGrid_imageGrid__c01Ak {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.ImageGrid_imageGrid__inner__gwxua {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  width: 200%;
}
.ImageGrid_imageGrid__imageWrapper__JVp_a {
  position: relative;
  width: 77.5rem;
  height: 51.8rem;
  overflow: hidden;
  opacity: 0;
}
.ImageGrid_imageGrid__image__uqLs3 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ImageGrid_imageGrid__c01Ak [data-wrapper-center] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  cursor: pointer;
  z-index: 2;
}
.ImageGrid_imageGrid__c01Ak [data-wrapper-center] .ImageGrid_textReveal__4QFEE {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  overflow: hidden;
}
.ImageGrid_imageGrid__c01Ak [data-wrapper-center] .ImageGrid_textReveal__4QFEE > * {
  line-height: 1;
}
.ImageGrid_imageGrid__c01Ak [data-image-center] {
  transform: scale(1);
}
.ImageGrid_imageGrid__imageTitle__Ph6LK {
  color: var(--color-white);
}
